.new-post-wrapper
  border 0px solid #eee
  width 70%
  margin 0 auto
  text-align center

.new-post-form
  & > .header
    font-family 'Quicksand'
    font-size 2.2em
    font-weight bold
    text-transform uppercase
  .guidelines
    border 0px solid #bbb
    width 60%
    margin-left auto
    margin-right auto
    margin-bottom 2em
    background-color #f8f8f8
    padding 1em 2.5em
    border-radius 5px
    p
      font-family Quicksand
      font-size 1.2em
      line-height 1.9em
    h4
      font-family 'Flamenco'
      font-weight bold
      text-decoration underline
      color #555
      font-size 1.6em

.input
  border 0px solid #ddd
  width 67.5%
  margin 0 auto
  #post-title
    width 96.0%
    padding 0.5em 0.5em 0.5em 0.5em
    font-family 'Quintessential'
    font-size 1.7em
    line-height 1.4em
    text-align center
  #post-body
    width 100%
    padding 0.5em 0.5em 0.5em 0.5em
    font-family Quicksand, sans-serif
    font-size 1.4em
    line-height 1.4em

.categories
  margin-bottom 2em
  .category
    display inline-block
    border 0px solid #bbb
    margin-right 0.8em
    label
      display inline
      font-family 'Lato'
      font-size 1.2em
      color #999
      font-style italic
      margin-left 0.2em
    input
      position relative
      bottom 0.3em

.categories .header h4, .images .header h4
  font-family 'Quicksand'
  font-size 1.3em
  font-weight bold
  color #444

.images
  border 0px solid #bbb
  margin-bottom 2em
  .body
    border 1px solid #eee
    border-radius 5px
    position relative
    text-align left
    padding 1em
    div
      display inline-block
      border 0px solid red
      width 49%
    .add-another-image
      position absolute
      right 0
      text-align right
      padding-right 1em
  input
    line-height 0
    width 80%
    font-family Quicksand, sans-serif
  a
    font-weight bold
    position relative
    bottom 0.15em
    color #d53aab
    font-family flamenco
    font-size 1.5em

#submit
  font-family 'Quicksand',sans-serif
  font-size 1.3em
  padding 0.4em 1em
  font-weight bold