.explore-by-category
  include smiley
  h5.header Explore articles by category
  .categories
    a(href='#') Coding&nbsp;
    | /&nbsp;
    a(href='#') Design&nbsp;
    | /&nbsp;
    a(href='#') Business&nbsp;
    | /&nbsp;
    a(href='#') Customer Service&nbsp;
    | /&nbsp;
    a(href='#') Startup Buzz&nbsp;
    | /&nbsp;
    a(href='#') Productivity