.row-fluid.footer
  .wrapper
    include smiley
    p
      | Thank you for reading. Lets connect. I'm on
      a(href='#') &nbsp;Twitter&nbsp;
      | &
      a(href='#') &nbsp;Github&nbsp;
      | too :)
    p Do well to comment & share articles you find interesting.
    p.copyright Content copyright © 2013. Happy Tuesday :)