.row-fluid.mast.header
  .logo
    a(href='/')
      img(src='/images/logo.png', width='65', height='67', alt='logo', title='logo')
  #intro
    h1.blog-heading.main A blog about startups, entrepreneurship, code.
    h2.blog-heading.sub & other interesting stuff :)