#new-comment
  #header
    h4 Share your thoughts
  #body
    form#new-comment-form(name='new-comment', action='', method='POST')
      div
        input#author-name.validate(type='text', name='author', placeholder='Name (Required)', data-section='author')
      div
        textarea#comment-body.validate(name='comment', cols='10', rows='5', placeholder='Your thoughts...', data-section='comment', data-allowed-tags='#{allowedTags}')
      include comment_posting_guide
      input#submit-btn(type='submit', name='submit-btn', value='Post this Comment')