#comments
  #header
    if post.howManyComments() == '1 comment'
      h4 
        | There is 
        a(href='#{post.titleToUri(true)}') #{post.howManyComments()}
        | &nbsp;on this post
    else
      h4 
        | There are 
        a(href='#{post.titleToUri(true)}') #{post.howManyComments()}
        | &nbsp;on this post
  if post.comments.length
    #body
      each comment in post.comments
        include comment