extends layout

block pagespecificstyles
  link(rel="stylesheet"
    type="text/css"
    href="/stylesheets/viewpost.css")

block pagespecificscripts
  script(src="/scripts/utils.js")
  script(src="/scripts/viewpost.js")
  script(src="/scripts/tags.js")
  script(src="/scripts/new_comment_checks.js")
  script(src="/scripts/dotests.js")
  script(src="/scripts/scroll.js")

block content
  .container-fluid.blog-wrapper
    include header
    .row-fluid.content
      .posts-wrapper
        .posts
          include post
        include post_comments
        #errors.errors.hidden
        include new_comment_form
        include categories
    include footer
  script(type='text/javascript', src='/scripts/elasticize.js')
  script(type='text/javascript')
    $(function() {
      init()
    })