.posts-wrapper {
  border: 0px solid #0f0;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .posts-wrapper {
    width: 100%;
  }
}
#noposts {
  text-align: center;
  color: #08c;
  font-family: "kepler-std", Georgia, Times, serif;
  line-height: 1.7em;
  font-size: 1.4em;
}
.post {
  border: 0px solid #bbb;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5em;
  margin-bottom: 2em;
  text-align: center;
  border-bottom: 4px solid #e7e7e7;
}
.post .header {
  border: 0px solid #eee;
}
.post .header .title {
  font-family: 'Quintessential', Serif;
  font-size: 3em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
.post .header .title a:link,
.post .header .title a:visited {
  text-decoration: none;
  color: #222;
}
.post .header .title a:hover,
.post .header .title a:active {
  color: #005580;
  text-decoration: underline;
}
.post .header .meta {
  font-family: 'Georgia';
  font-size: 1.3em;
  font-style: italic;
  color: #999;
}
.post .body {
  text-align: justify;
}
.post .body p {
  font-family: "kepler-std", Georgia, Times, serif;
  line-height: 1.7em;
  font-size: 1.4em;
  color: #444;
}
.post .body p.indent {
  text-indent: 3em;
}
.post .body p.sub-title {
  font-size: 2.1em;
}
.post .body .feature {
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.post .body .feature-two .item {
  margin-right: 1em;
}
.post .body .feature-description {
  text-indent: 3em;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .post {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 480px) {
  .post .body {
    text-align: left;
  }
}
.pager {
  border-bottom: 0px solid #ddd;
  padding-bottom: 0.6em;
}
.pager div {
  display: inline-block;
  border: 0px solid #0f0;
  width: 49%;
}
.pager .older {
  text-align: left;
}
.pager .newer {
  text-align: right;
}
.pager a {
  font-family: 'Georgia', serif;
  font-size: 1.6em;
  font-weight: bold;
}
.explore-by-category {
  text-align: center;
  border: 0px solid #bbb;
  padding-bottom: 1.6em;
}
.explore-by-category .header {
  margin-top: 1em;
  text-transform: uppercase;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.4em;
  color: #888;
}
.explore-by-category .categories {
  color: #aaa;
}
.explore-by-category .categories a {
  font-family: 'Lato';
  font-size: 1.5em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  color: #006da3;
}
.quick-links {
  border: 0px solid #bbb;
}
.quick-links .section {
  border: 0px solid #bbb;
}
.quick-links .section .header {
  font-family: Georgia, serif;
  font-size: 1.4em;
  font-weight: normal;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
.quick-links .section a {
  font-family: 'Georgia';
  font-size: 1.4em;
  display: block;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed #ddd;
}
.footer {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.footer .wrapper {
  border-top: 1px solid #ddd;
  padding-top: 2em;
  width: 70%;
  margin: 0 auto;
}
.footer p {
  font-family: 'Quicksand';
  margin: 0;
  font-size: 1.4em;
  line-height: 1.6em;
}
.footer img {
  margin-bottom: 1em;
}
.footer p.copyright {
  margin-top: 1em;
}
@media screen and (max-width: 480px) {
  .footer .wrapper {
    width: 100%;
  }
}
